<!DOCTYPE html>
<html>
<head>
    <title>Dashboard</title>
</head>
<body>
    <h1>Bienvenido a Herencias, {{ nombre_usuario }}</h1>
    <p>Seleccione la colección con la que desea trabajar:</p>
    <div>
        <a href="/colecciones/Festividades"><button>Festividades</button></a>
        <a href="/colecciones/Ingredientes"><button>Ingredientes</button></a>
        <a href="/colecciones/Poblaciones"><button>Poblaciones</button></a>
        <a href="/colecciones/Recetas"><button>Recetas</button></a>
    </div>
    <br>
    <a href='/logout'>Cerrar sesión</a>
</body>
</html>
