<!DOCTYPE html>
<html>
<head>
    <title>Dashboard</title>
    <style>
        div {
            margin: 20px 0;
        }
        a {
            display: inline-block;
            background-color: #007BFF;
            color: white;
            padding: 10px 20px;
            text-decoration: none;
            margin-right: 10px;
            border-radius: 5px;
        }
        a:hover {
            background-color: #0056b3;
        }
    </style>
</head>
</head>
<body>
    <h1>Bienvenido a Herencias, {{ nombre_usuario }}</h1>
    <p>Seleccione la colección con la que desea trabajar:</p>
    <div>
        <a href="{{ url_for('manage_festividades') }}">Festividades</a>
        <a href="{{ url_for('manage_ingredientes') }}">Ingredientes</a>
        <a href="{{ url_for('manage_poblaciones') }}">Poblaciones</a>
        <a href="{{ url_for('manage_recetas') }}">Recetas</a>

    </div>

    <br>
    <a href='/logout'>Cerrar sesión</a>
</body>
</html>
