<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Gestión de Festividades</title>
</head>
<body>
    <h1>Gestión de Festividades</h1>
    <form method="POST">
        <input type="hidden" name="action" value="none" id="action">
        <label for="_id">ID:</label>
        <input type="text" id="_id" name="_id" placeholder="ID de la Festividad"><br>
        
        <label for="Nombre_Original">Nombre Original:</label>
        <input type="text" id="Nombre_Original" name="Nombre_Original" placeholder="Nombre Original">
        <input type="checkbox" name="update_nombre_original"><br>

        <label for="fecha">Fecha:</label>
        <input type="text" id="fecha" name="fecha" placeholder="Fecha de la Festividad">
        <input type="checkbox" name="update_fecha"><br>

        <label for="actividades">Actividades:</label>
        <input type="text" id="actividades" name="actividades" placeholder="Actividades Realizadas">
        <input type="checkbox" name="update_actividades"><br>

        <label for="quien_puede_asistir">Quién Puede Asistir:</label>
        <input type="text" id="quien_puede_asistir" name="quien_puede_asistir" placeholder="Quién Puede Asistir">
        <input type="checkbox" name="update_quien_puede_asistir"><br>

        <label for="implicaciones">Implicaciones:</label>
        <input type="text" id="implicaciones" name="implicaciones" placeholder="Implicaciones de la Festividad">
        <input type="checkbox" name="update_implicaciones"><br>

        <button type="button" onclick="submitForm('Agregar')">Agregar</button>
        <button type="button" onclick="submitForm('Actualizar')">Actualizar</button>
        <button type="button" onclick="submitForm('Eliminar')">Eliminar</button>
        <button type="button" onclick="submitForm('Consultar')">Consultar</button>
        <button type="button" onclick="submitForm('Ver Todo')">Ver Todo</button>
        <button type="button" onclick="submitForm('Salir')">Volver al Dashboard</button>
    </form>


    {% if modo == 'ver_todo' %}
    <h2>Documentos en la Colección:</h2>
    <table border =1>
        <tr>
            <th>ID</th>
            <th>Nombre Original</th>
            <th>Fecha</th>
            <th>Actividades</th>
            <th>Quién Puede Asistir</th>
            <th>Implicaciones</th>
        </tr>
        {% for documento in documentos %}
        <tr>
            <td>{{ documento._id }}</td>
            <td>{{ documento.Nombre_Original }}</td>
            <td>{{ documento.Fecha }}</td>
            <td>{{ documento.Actividades }}</td>
            <td>{{ documento.Quien_Puede_Asistir }}</td>
            <td>{{ documento.Implicaciones }}</td>
        </tr>
        {% endfor %}
    </table>
    {% endif %}

    {% with messages = get_flashed_messages(with_categories=true) %}
        {% if messages %}
            <ul class="flash-messages">
            {% for category, message in messages %}
                <li class="{{ category }}">{{ message }}</li>
            {% endfor %}
            </ul>
        {% endif %}
    {% endwith %}


    <script>
        function submitForm(action) {
            document.getElementById('action').value = action;
            if (action === 'Actualizar' || action === 'Eliminar' || action === 'Consultar') {
                document.getElementById('_id').disabled = false;
            }
            document.forms[0].submit();
        }
    </script>
</body>
</html>
